<div>
    <img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg" ,="" align="left">
</div>
<div style="float: right; width: 50%;">
<p style="margin: 0; padding-top: 22px; text-align:right;">End-of-degree Project: Product Matching</p>
<p style="margin: 0; text-align:right;">Master's Degree in Data Science</p>
<p style="margin: 0; text-align:right; padding-button: 100px;">Computer Science, Multimedia and Telecommunication studies</p>
</div>

<h1>Data cleansing</h1>

<hr/>

In this Notebook...

In [39]:
import pandas as pd

In [47]:
PRODUCT_DATA_FINAL_PATH = '../RawData/ProductDataFinal.csv'
ROWS_TO_SHOW = 5

df = pd.read_csv(PRODUCT_DATA_FINAL_PATH)

print("Initial number of products (rows): {}".format(df.shape[0]))
print("Initial number of attributes (columns): {}".format(df.shape[1]))

Initial number of products (rows): 300000
Initial number of attributes (columns): 35

In [48]:
# Pick only relevent columns
df = df.loc[:,
    [
        'WebShopName',
        'WebShopProductID',
        'BrandName',
        #'Name',
        'Price',
        'Currency',
        'Color',
        'ProdanetID'
    ]]

# Define columns type
df['WebShopName'] = df['WebShopName'].astype('category')
df['WebShopProductID'] = df['WebShopProductID'].astype('category')
df['BrandName'] = df['BrandName'].astype('category')
#df['Name'] = df['Name'].astype('category')
df['Price'] = df['Price'].astype('float')
df['Currency'] = df['Currency'].astype('category')
df['Color'] = df['Color'].astype('category')
df['ProdanetID'] = df['ProdanetID'].astype('category')

# Shuffle the dataset
df = df.sample(frac=1)

In [49]:
df.head(ROWS_TO_SHOW)

,WebShopName,WebShopProductID,BrandName,Price,Currency,Color,ProdanetID
71690,Amazon-Marketplace.de,B000025T35,NaN,11.09,EUR,NaN,1761579
27372,Amazon.de,B0006ZQ8SW,NaN,7.51,EUR,NaN,1758975
91881,Mandrops.de,B017HASGUG,Hasbro,15.88,EUR,NaN,1395681
170761,JPC.de,8726491,NaN,16.99,EUR,NaN,2015321
36376,Technikdirekt.de,355770,AEG,429.00,EUR,NaN,1612859

In [50]:
df.describe(include = 'all')

,WebShopName,WebShopProductID,BrandName,Price,Currency,Color,ProdanetID
count,300000,300000,195240,300000.000000,300000,7864,300000.0
unique,796,197240,1851,NaN,3,1865,161023.0
top,Amazon.de,5893697,Hama,NaN,EUR,schwarz,1845671.0
freq,75985,1321,48915,NaN,296714,660,1322.0
mean,NaN,NaN,NaN,140.111458,NaN,NaN,NaN
std,NaN,NaN,NaN,813.964903,NaN,NaN,NaN
min,NaN,NaN,NaN,0.010000,NaN,NaN,NaN
25%,NaN,NaN,NaN,12.780000,NaN,NaN,NaN
50%,NaN,NaN,NaN,19.990000,NaN,NaN,NaN
75%,NaN,NaN,NaN,67.652500,NaN,NaN,NaN
max,NaN,NaN,NaN,299505.000000,NaN,NaN,NaN

///////////////////////////////////////////

In [60]:
from sklearn.tree import DecisionTreeRegressor
import numpy as np


X = df.loc[:, df.columns != 'ProdanetID'].values.tolist()
y = df.loc[:, df.columns == 'ProdanetID'].values.tolist()

clf = DecisionTreeRegressor()
clf.fit(X, y)

ValueError: could not convert string to float: 'Amazon-Marketplace.de'